.coversionbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-large-button{
    font-size: 15px; 
    padding: 20px 35px; 
    height: auto;
    margin: 10px;
    width: 400px;
}

.bestOfferCard{
    top: 50px;
    padding-top: 50px;
}